__pycache__
build/lib/homework_exercise/__init__.py
build/lib/homework_exercise/_calculation.py
build/lib/homework_exercise/_data.py
build/lib/homework_exercise/data_file_2.toml
build/lib/homework_exercise/data_file.json
src/homework_exercise/homework_exercise.egg-info/dependency_links.txt
src/homework_exercise/homework_exercise.egg-info/PKG-INFO
src/homework_exercise/homework_exercise.egg-info/requires.txt
src/homework_exercise/homework_exercise.egg-info/SOURCES.txt
src/homework_exercise/homework_exercise.egg-info/top_level.txt
src/homework_exercise.egg-info/dependency_links.txt
src/homework_exercise.egg-info/PKG-INFO
src/homework_exercise.egg-info/requires.txt
src/homework_exercise.egg-info/SOURCES.txt
src/homework_exercise.egg-info/top_level.txt
src/build/lib/homework_exercise/__init__.py
src/build/lib/homework_exercise/_calculation.py
src/build/lib/homework_exercise/_data.py
